<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shumen News - Водещи нови от Шумен, България и света</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShumenNews.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fontawesome/js/all.js" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="/Logo.ico">
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-primary-color p-0">
            <div class="container-fluid p-2">
                <form asp-action="SearchArticle" asp-controller="Articles" class="d-flex my-auto p-2" role="search">
                    <input name="words" class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <button type="submit" class="btn p-0"><i class="fa-solid fa-magnifying-glass bg-transparent text-white  py-3 px-2"></i></button>
                </form>
                <a class="logo" asp-area="" asp-controller="Home" asp-action="Index" style="color:aqua"> <img src="/Logo.png" alt="Logo" width="160" height="70"></a>
                <button class="navbar-toggler me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end secondary-color" data-bs-scroll="true" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" style="width: 25%;">
                    <div class="offcanvas-header p-2">
                        <h5 class="offcanvas-title ps-3" id="offcanvasDarkNavbarLabel">Shumen News</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body pt-0">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <div class="card card-body ms-1" style="width: 98%;">
                                    <partial name="_LoginPartial" />
                                </div>
                            </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item ms-1 py-1">
                                    <a class="btn btn-outline-danger me-1" asp-area="" asp-controller="Admin" asp-action="Index">Админ панел</a>
                                    <a class="btn btn-outline-danger" asp-area="" asp-controller="Articles" asp-action="All">Статии</a>
                                </li>
                            }
                            else if (User.IsInRole("Author"))
                            {
                                <li class="nav-item ms-1 py-1">
                                    <a class="btn btn-outline-danger" asp-area="" asp-controller="Articles" asp-action="MyArticles">Моите статии</a>
                                    <a class="btn btn-outline-danger" asp-area="" asp-controller="Articles" asp-action="Create">Добави нова статия</a>
                                </li>        
                            }
                            else if (User.IsInRole("Moderator"))
                            {
                                <li class="nav-item ms-1 py-1">
                                    <a class="btn btn-outline-danger" asp-area="" asp-controller="Articles" asp-action="All">Преглед на всички статии</a>
                                </li>
                            }
                        </ul>
                        <div class="row">
                            <div class="accordion-item p-0 ms-3" style="width: 90%;">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapsе">
                                        <b>Категории</b>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse" class="accordion-collapse collapse alltextstyle" data-bs-parent="#accordionExample">
                                <div class="accordion-body row">
                                    <a asp-controller="Categories" asp-action="Index" asp-route-id="Analyses" class="btn btn-dark bg-primary-color bg-gradient my-1">Анализи</a>
                                    <a asp-controller="Categories" asp-action="Index" asp-route-id="Bulgaria" class="btn btn-dark bg-primary-color bg-gradient my-1">Водещи новини от България</a>
                                    <a asp-controller="Categories" asp-action="Index" asp-route-id="Business" class="btn btn-dark bg-primary-color bg-gradient my-1">Бизнес</a>
                                    <a asp-controller="Categories" asp-action="Index" asp-route-id="Culture" class="btn btn-dark bg-primary-color bg-gradient my-1">Култура</a>
                                    <a asp-controller="Categories" asp-action="Index" asp-route-id="Curious" class="btn btn-dark bg-primary-color bg-gradient my-1">Любопитно</a>
                                    <a asp-controller="Categories" asp-action="Index" asp-route-id="Entertainment" class="btn btn-dark bg-primary-color bg-gradient my-1">Развлечения</a>
                                    <a asp-controller="Categories" asp-action="Index" asp-route-id="Health" class="btn btn-dark bg-primary-color bg-gradient my-1">Здраве</a>
                                    <a asp-controller="Categories" asp-action="Index" asp-route-id="Politics" class="btn btn-dark bg-primary-color bg-gradient my-1">Политика</a>
                                    <a asp-controller="Categories" asp-action="Index" asp-route-id="Shumen" class="btn btn-dark bg-primary-color bg-gradient my-1">Водещи новини от Шумен</a>
                                    <a asp-controller="Categories" asp-action="Index" asp-route-id="Sport" class="btn btn-dark bg-primary-color bg-gradient my-1">Спорт</a>
                                    <a asp-controller="Categories" asp-action="Index" asp-route-id="Weather" class="btn btn-dark bg-primary-color bg-gradient my-1">Времето</a>
                                    <a asp-controller="Categories" asp-action="Index" asp-route-id="Week" class="btn btn-dark bg-primary-color bg-gradient my-1">Водещи новини от седмицата</a>
                                    <a asp-controller="Categories" asp-action="Index" asp-route-id="World" class="btn btn-dark bg-primary-color bg-gradient my-1">По света</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex container-fluid justify-content-center py-3 alltextstyle">
                <a asp-controller="Home" asp-action="Index" class="text-white"><h6>НАЧАЛО</h6></a>
                <a asp-controller="Categories" asp-action="Index" asp-route-id="Shumen" class="mx-3 text-white"><h6>ШУМЕН</h6></a>
                <a asp-controller="Categories" asp-action="Index" asp-route-id="Bulgaria" class="mx-3 text-white"><h6>БЪЛГАРИЯ</h6></a>
                <a asp-controller="Categories" asp-action="Index" asp-route-id="World" class="mx-3 text-white"><h6>ПО СВЕТА</h6></a>
                <a asp-controller="Categories" asp-action="Index" asp-route-id="Politics" class="mx-3 text-white"><h6>ПОЛИТИКА</h6></a>
                <a asp-controller="Categories" asp-action="Index" asp-route-id="Analyses" class="mx-3 text-white"><h6>АНАЛИЗИ</h6></a>
                <a asp-controller="Categories" asp-action="Index" asp-route-id="Business" class="mx-3 text-white"><h6>БИЗНЕС</h6></a>
                <a asp-controller="Categories" asp-action="Index" asp-route-id="Sport" class="mx-3 text-white"><h6>СПОРТ</h6></a>
                <a asp-controller="Categories" asp-action="Index" asp-route-id="Others" class="mx-3 text-white"><h6>ОЩЕ</h6></a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer bg-primary-color text-muted alltextstyle">
        <div class="container pt-3">
            <div class="d-flex">
                <div class="container-fluid">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="pe-5"> <img src="/Logo2.png" alt="Logo" width="140" height="50"> </a>
                    <h5 class="text-white pt-3">НОВИНИ</h5>
                    <div class="container-fluid d-flex p-0">
                        <a class="btn text-white ps-0" asp-controller="Home" asp-action="Index">Начало</a>
                        <a class="btn text-white mx-2" asp-controller="Categories" asp-action="Index" asp-route-id="Shumen">Шумен</a>
                        <a class="btn text-white mx-2" asp-controller="Categories" asp-action="Index" asp-route-id="Bulgaria">България</a>
                        <a class="btn text-white mx-2" asp-controller="Categories" asp-action="Index" asp-route-id="World">По света</a>
                        <a class="btn text-white mx-2" asp-controller="Categories" asp-action="Index" asp-route-id="Politics">Политика</a>
                        <a class="btn text-white mx-2" asp-controller="Categories" asp-action="Index" asp-route-id="Analyses">Анализи</a>
                        <a class="btn text-white mx-2" asp-controller="Categories" asp-action="Index" asp-route-id="Business">Бизнес</a>
                        <a class="btn text-white mx-2" asp-controller="Categories" asp-action="Index" asp-route-id="Sport">Спорт</a>
                        <a class="btn text-white" asp-controller="Categories" asp-action="Index" asp-route-id="Others">Още</a>
                    </div>
                    <h5 class="text-white">ИНФОРМАЦИЯ</h5>
                    <div class="container-fluid d-flex p-0">
                        <a class="btn text-white ps-0" asp-controller="Home" asp-action="AboutUs">За нас</a>
                        <a class="btn text-white mx-1">За реклама</a>
                        <a class="btn text-white mx-1">Изпрати новина</a>
                        <a class="btn text-white mx-1" asp-controller="Home" asp-action="Contacts">Контакти</a>
                    </div>
                    <div class="container-fluid d-flex p-0">
                        <a class="btn text-white ps-0" asp-area="" asp-controller="Home" asp-action="Privacy">Общи условия</a>
                        <a class="btn text-white mx-1" asp-area="" asp-controller="Home" asp-action="Privacy"><p>Политика за поверителност</p></a>
                        <a class="btn text-white mx-1" asp-area="" asp-controller="Home" asp-action="Privacy">Лични данни</a>
                    </div>
                </div>
                <div class="container-fluid">
                    <h4 class="pt-5 text-white">БЮЛЕТИН</h4>
                    <span class="text-wrap text-white">Абонирай се за нашия бюлетин и получавай всички най-актуални новини по света и у нас.</span>
                    <div class="container-fluid d-flex justify-content-center p-0 pt-2">
                        <input class="form-control me-2 pe-3 " type="search" placeholder="Вашият имейл адрес..." aria-label="Search">
                        <input class="form-control border-0 btn btn-dark bg-secondary-color bg-gradient text-white w-50 " type="submit" value="Изпрати">
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            &copy; 2024 ShumenNews.bg. Всички права запазени!
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
