<div class="container bg-primary-color text-light p-4 mt-4 rounded-3 text-center">
    <h1>
        Не е намерена статия с подобно заглавие.
    </h1>
    <h4>Може да се върнете в началната страница като кликнете тук</h4>
    <a class="w-0 btn btn-lg btn-dark bg-secondary-color bg-gradient mt-5" asp-controller="Home" asp-action="Index">Начална страница</a>
</div>
