<div class="container">
    <h1 class="text-center mt-2 mb-5">
        Тук ще разберете повече за нас.
    </h1>
</div>

<div class="container">
    <h3 class=" bg-primary-color text-light p-2 rounded-3 text-center">
        ShumenNews е обществен новинарски сайт в България. 
        <br> <br>Ние сме безпристрастни и независими и всеки ден създаваме отличителни програми и съдържание, които информират, образоват и забавляват милиони хора в България.
    </h3>
</div>
