@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<section>
    <div class="row">
        <div class="container pt-3 h-100 ">
            <form id="account" method="post">
                <div class="row justify-content-center align-items-center ">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-primary-color text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 pb-0 text-center">

                                <div class="mb-md-5 mt-md-4 pb-5">

                                    <h2 class="fw-bold mb-2 text-uppercase">Вход</h2>
                                    <p class="mb-5 text-light">Моля въвадете имейл и парола</p>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-floating form-white mb-4">
                                        <input asp-for="Input.Email" type="email" id="typeEmailX" class="form-control form-control-lg" aria-required="true" />
                                        <label asp-for="Input.Email" class="form-label text-dark h5"></label>

                                    </div>
                                    <div class="form-floating form-white mb-4">
                                        <input asp-for="Input.Password" type="password" id="typePasswordX" class="form-control form-control-lg" aria-required="true" />
                                        <label asp-for="Input.Password" class="form-label text-dark h5"></label>

                                    </div>
                                    <div>
                                        <div class="checkbox">
                                            <label asp-for="Input.RememberMe" class="form-label">
                                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-dark bg-secondary-color bg-gradient">Влезте в акаунта си</button>
                                    </div>
                                    <div>
                                        <p class="mt-5">
                                            <a id="forgot-password" asp-page="./ForgotPassword" class="text-light">Забравeна парола</a>
                                        </p>
                                        <p>
                                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-light">Регистриране като нов потребител</a>
                                        </p>
                                        <p>
                                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="text-light">Изпрати нов имейл за потвърждение</a>
                                        </p>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
