@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



<div class="mask d-flex align-items-center h-100 gradient-custom-3 pt-4">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card bg-primary-color text-white p-5">

                        <h2 class="text-uppercase text-center mb-5">Създай нов акаунт</h2>

                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            
                            <hr />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-floating mb-4">
                                <input asp-for="Input.FirstName" type="text" id="form3Example1cg" class="form-control form-control-lg" autocomplete="firstname" aria-required="true" />
                                <label asp-for="Input.FirstName" class="text-dark h5"></label>
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-4">
                                <input asp-for="Input.LastName" type="text" id="form3Example1cg" class="form-control form-control-lg" autocomplete="lastname" aria-required="true" />
                                <label asp-for="Input.LastName" class="text-dark h5"></label>
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-4">
                                <input asp-for="Input.Email" type="email" id="form3Example1cg" class="form-control form-control-lg" autocomplete="email" aria-required="true" />
                                <label asp-for="Input.Email" class="text-dark h5"></label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-4">
                                <input asp-for="Input.Password" type="password" id="form3Example1cg" class="form-control form-control-lg" autocomplete="password" aria-required="true" />
                                <label asp-for="Input.Password" class="text-dark h5"></label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-4">
                                <input asp-for="Input.ConfirmPassword" type="password" id="form3Example1cg" class="form-control form-control-lg" autocomplete="confirmpassword" aria-required="true" />
                                <label asp-for="Input.ConfirmPassword" class="text-dark h5"></label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary bg-dark">Регистрирай се</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
