html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 300px;
}
.primary-color
{
    color: #1D3357;
}
.bg-primary-color {
    background-color: #1D3357;
}
.bg-secondary-color {
    background-color: #005a00;
}
.secondary-color {
    color: #22b14c;
}
.bg-tertiary-color {
    background-color: rgb(204, 185, 54);
}
a {
    text-decoration: none;
}
.logo {
    margin-right: 9%;
}
.category {
    border-radius: 2rem;
}
.categoryname {
    font-family: 'Franklin Gothic';
    font-size: 40px;
    color:white; 
}
.btnrounded {
    position: absolute;
    bottom: 25px;
    border-radius: 5rem;
    font-size: 110%;
    font-family: 'Franklin Gothic';
}
.carousel-caption {
    text-shadow: 2px 1px black;
    font-family: Georgia, serif;
    
}
.articlefont {
    font-family: 'Franklin Gothic';
    color: black;
    text-align: justify;
    text-justify: inter-word;
}
.artimg {
   margin-left: 1rem;
}
.alltextstyle {
    font-family: 'Franklin Gothic';
}
