html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 300px;
}
.bg-primary-color {
    background-color: #1D3357;
}
.bg-secondary-color {
    background-color: #EF233C;
}
.secondary-color {
    color: #EF233C;
}
a {
    text-decoration: none; 
}
.logo {
    margin-right: 9%;
}