html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 300px;
}
.primary-color
{
    color: #1D3357;
}
.bg-primary-color {
    background-color: #1D3357;
}
.bg-secondary-color {
    background-color: #22b14c;
}
.secondary-color {
    color: #22b14c;
}
.bg-tertiary-color {
    background-color: rgb(204, 185, 54);
}
a {
    text-decoration: none;
}
.logo {
    margin-right: 9%;
}